@import "./settings";
@import "./mixins";
@import "./functions";

/*!
.fd-badge+(( --numeric | --icon ), ( --cozy | --compact ))
*/
$block: #{$fd-namespace}-info-label;

.#{$block} {

  // INFOLABEL DEFAULT
  $fd-infolabel-border-radius: 1.125rem !default;
  $fd-infolabel-color: var(--sapTextColor);
  $fd-infolabel-fontsize: var(--sapFontSmallSize);
  $fd-infolabel-default-padding: 0 0.625rem !default;
  $fd-infolabel-default-vertical-align: middle !default;
  $fd-infolabel-default-border-width: 1px !default;
  $fd-infolabel-default-border-style: solid !default;
  $fd-infolabel-default-min-width: fit-content !default;
  $fd-infolabel-default-height: 1.125rem !default;
  $fd-infolabel-default-text-transform: uppercase !default;
  $fd-infolabel-default-text-align: center !default;

  // INFOLABEL ICON
  $fd-infolabel-icon-size: 0.75rem !default;
  $fd-infolabel-icon-padding-left: 0.3125rem !default;
  $fd-infolabel-icon-padding-right: 0.1875rem !default;
  $fd-infolabel-icon-padding: 0 0.5rem !default;

  // INFOLABEL NUMERIC PADDING
  $fd-infolabel-numeric-padding: 0 0.3125rem !default;

  // COZY AND COMPACT MARGIN
  $fd-infolabel-margin-compact: 0.4375rem 0 !default;
  $fd-infolable-margin-cozy: 0.8125rem 0 !default;

  $color-accents: (
    "1": ("background": #fdf3e6, "border": var(--sapAccentColor1)),
    "2": ("background": #f9e6e6, "border": var(--sapAccentColor2)),
    "3": ("background": #fce9f2, "border": var(--sapAccentColor3)),
    "4": ("background": #f9ebf5, "border": var(--sapAccentColor4)),
    "5": ("background": #eaeafa, "border": var(--sapAccentColor5)),
    "6": ("background": #ebf3fa, "border": var(--sapAccentColor6)),
    "7": ("background": #e8fafd, "border": var(--sapAccentColor7)),
    "8": ("background": #f8fde7, "border": var(--sapAccentColor8)),
    "9": ("background": #f2ebf9, "border": var(--sapAccentColor9)),
    "10": ("background": #f1f3f4, "border": var(--sapAccentColor10))
  );

  @include fd-reset();

  vertical-align: $fd-infolabel-default-vertical-align;
  padding: $fd-infolabel-default-padding;
  border-radius: $fd-infolabel-border-radius;
  border-width: $fd-infolabel-default-border-width;
  border-style: $fd-infolabel-default-border-style;
  min-width: $fd-infolabel-default-min-width;
  height: $fd-infolabel-default-height;
  text-transform: $fd-infolabel-default-text-transform;
  text-align: $fd-infolabel-default-text-align;
  color: $fd-infolabel-color;
  font-size: $fd-infolabel-fontsize;

  &::before {
    font-size: $fd-infolabel-icon-size;
    padding-left: $fd-infolabel-icon-padding-left;
    padding-right: $fd-infolabel-icon-padding-right;
    color: $fd-infolabel-color;
  }

  &--numeric {
    padding: $fd-infolabel-numeric-padding;
  }

  &--icon {
    padding: $fd-infolabel-icon-padding;
  }

  &--compact {
    margin: $fd-infolabel-margin-compact;
  }

  &--cozy {
    margin: $fd-infolable-margin-cozy;
  }

  @each $set-name, $color-set in $color-accents {
    &--accent-color-#{$set-name} {
      background-color: map_get($color-set, "background");
      border-color: map_get($color-set, "border");
    }
  }
}
